body {
	background-color: #e2e2e2 !important;
}

.container {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

#accountBtn,
#patient-info,
#doctor-info {
	display: none;
}

#accountBtn {
	gap: 10px;
}

#accountBtn button {
	width: 50%;
	height: 60px;
	text-align: center;
	color: white;
	font-size: 32px;
	font-weight: bold;
	background-color: #ff3a3a;
	border-radius: 10px;
}

#user-info {
	display: flex;
	justify-content: space-between;
}

.navbar {
	width: 100%;
	background-color: #7925ff;
	border-radius: 10px;
	display: flex;
	justify-content: center !important;
	margin-bottom: 20px;
}

.navbar-brand {
	color: white !important;
}

th,
td {
	text-align: center !important;
}

#auth {
	display: none;
	width: 100%;
	flex-wrap: wrap;
	gap: 10px;
}

#auth > div {
	width: 100%;
}

#exercise-table-div {
	width: 100%;
	overflow-x: scroll;
}

#exercise-table thead {
	color: white;
	background-color: #ff3a3a;
	border-color: #796565;
}

#medication-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
}

#medication-container .card {
	width: 49%;
}

#medication-container table {
	width: 100%;
}

#medication-container .card-footer {
	color: white;
	background-color: #26547c;
}

#medication-container .card-title {
	color: #26547c;
	font-weight: bold;
}

thead th:first-child {
	border-top-left-radius: 10px;
}
thead th:last-child {
	border-top-right-radius: 10px;
}
thead tr {
	color: #ffffff;
	background-color: #ff3a3a;
}
tbody tr:hover {
	background-color: #dddddd;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#medication-container {
		gap: 10px;
	}
	#medication-container .card {
		width: 100%;
	}
}
